html{
    background: #050816;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
header{
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
footer{
    position: fixed;
    z-index: 1;
    bottom: 0px;
    /* height: 50px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img{
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}
a:link,
a:visited,
a:active,
a:hover{
    background-color: #659bff;
    text-decoration: none;
    color: white;
}
.link{
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    transition: all 1s ease;
}
.link:hover{
    background-color: #97bafc;
    box-shadow:
            0 0 15px #4d88f7,
            0 0 30px #4d88f7;
}
iconify-icon{
    margin: 5px;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
}
#show{
    margin: 0px;
    padding: 5px;
    height: 50px;
    border-radius: 0px 0px 10px 0px;
    >iconify-icon{
        font-size: 25px;
    }
}
button, .btn{
    user-select: none;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #659bff;
    transition: all 1s ease;
}
button:hover, .btn:hover{
    cursor: pointer;
    background-color: #97bafc;
    box-shadow:
            0 0 15px #4d88f7,
            0 0 30px #4d88f7;
}
#destinationsBar{
    background-color: rgba(33, 50, 126, 0.5);
    backdrop-filter: blur(3px);
    border-radius: 20px 20px 0px 0px;
    >button{
        margin: 10px;
    }
}
#destinationPageName{
    background-color: rgba(33, 50, 126, 0.5);
    backdrop-filter: blur(3px);
    padding: 10px 20px;
    margin-top: 0px;
    font-size: 25px;
    border-radius: 0px 0px 20px 20px;
}
#menu{
    scale: 0;
    margin: 0px;
    padding: 5px 10px 0px 10px;
    height: 50px;
    border-radius: 50% 50% 0px 0px;
}
#destinationPanel{
    z-index: 5;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;right: 0px;
    width: 100%;
    height: 100%;
    scale: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    >#destinationPanelList{
        display: flex;
        flex-direction: column;
        background-color: #21327e;
        padding: 30px;
        border-radius: 50px 0px;
        >button{
            margin: 20px;
        }
    }
}
#page{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backdrop-filter: blur(3px);
    overflow-y: auto;
    background-color: rgba(5, 8, 22, 0.3);
    scale: 0;
    transition: all 0.5s ease;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20% 0px;
    padding: 20px;
    /* background-color: #0b153e9b; */
    background-color: #1f2e6c9b;
    border-radius: 50px 0px;
    line-height: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
}
section.left {
    align-self: flex-start;
}

section.right {
    align-self: flex-end;
}
@supports (animation-timeline: view()) {/* Scroll-driven animations */
    section {
        scale: 1;
        animation: zoom linear both;
        animation-timeline: view();
        animation-range: entry 0% cover 100%;
    }
    @keyframes zoom {
        0% { scale: 0.5; }
        25% { scale: 1; }
        75% { scale: 1; }
        100% { scale: 0.5; }
    }
}
h1{
    padding: 20px;
}
h3{
    background-color: #21327e;
    padding: 20px;
    border-radius: 20px;
}
h4{
    text-decoration: underline;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
li{
    margin: 5px;
    max-width: 300px;
}
.warn{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: red;
    background: orange;
}

/* largeur de la scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
/* fond de la piste */
::-webkit-scrollbar-track {
    background: #111;
}
/* poignée (thumb) */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}
/* hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}
@media (max-width: 768px){
    
}