html{
    background: #050816;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
header{
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    width: 100%;
}
footer{
    position: fixed;
    z-index: 1;
    bottom: 0px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img{
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}
a:link,
a:visited,
a:active,
a:hover{
    background-color: #659bff;
    text-decoration: none;
    color: white;
}
.link{
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    transition: all 1s ease;
}
.link:hover{
    background-color: #97bafc;
    box-shadow:
            0 0 15px #4d88f7,
            0 0 30px #4d88f7;
}
.iconSVG{
    margin: 5px;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    /* font-size: 1em; */
}
#show{
    margin: 0px;
    padding: 5px;
    border-radius: 0px 0px 10px 0px;
    >iconify-icon{
        font-size: 25px;
    }
}
button, .btn{
    user-select: none;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #659bff;
    transition: all 1s ease;
}
button:hover, .btn:hover{
    cursor: pointer;
    background-color: #97bafc;
    box-shadow:
            0 0 15px #4d88f7,
            0 0 30px #4d88f7;
}
iframe{
    border-radius: 10px;
}
#page{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* overflow-x: hidden;
    overflow-y: auto; */
    scale:  0;
    transition: all 0.5s;
}
#eclipse{
    pointer-events: none;
    position: absolute;
    background: radial-gradient(
            circle, rgba(0, 0, 0, 0.999) 0%,
            rgba(0, 0, 0, 0.8) 80%,
            rgba(0, 0, 0, 0.3) 90%,
            transparent 100%
        );
    border-radius: 100%;
    opacity: 0.75
}
section{
    display: flex;
    flex-direction: column;
    margin: 10px 5% 100px 5%;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    /* border: 1px solid #151b39; */
    /* min-height: 80%; */
    min-width: 90%;
    overflow: hidden;
    /* test */
    height: 5000px;
    box-shadow:
            0 0 5px #4d88f7,
            0 0 10px #4d88f7;
    >#content{
        padding: 25px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
#title{
    user-select: none;
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow:
            0 0 10px #4d88f7,
            0 0 20px #4d88f7;
}
.warn{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: red;
    background: orange;
}
.dataText{

}
.dataTextTitle {
    /* background-color: #0f1a4b; */
}
.dataTextContent {
    font-size: medium;
    margin: 20px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
.dataTextContent.open {
    max-height: 1000px;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
p{
    
}

/* largeur de la scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
/* fond de la piste */
::-webkit-scrollbar-track {
    background: #111;
}
/* poignée (thumb) */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}
/* hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}
@media (max-width: 768px){
    /* button, .btn{
        width: ;
    } */
}