canvas{
    pointer-events: none;
    position: fixed;
    left: 0px;right: 0px;
    top: 0px;bottom: 0px;
    /* width: 100%; */
    /* height: 100%; */
    z-index: -1;
}
#world {
    pointer-events: none;
    position: relative;
    overflow: visible;
    top: -100000px;
    left: -100000px;
    width: 200000px;
    height: 200000px;
    /* height: 100%;
    width: 100%; */
}
.star{
    pointer-events: none;
    position: absolute;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.star::after {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.7;
    border-radius: 100%;
    mix-blend-mode: overlay;
    /* noise */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.05' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='200' height='200' filter='url(%23n)' opacity='1'/%3E%3C/svg%3E");

    background-size: 200px 200px;
}
.eruption{
    pointer-events: none;
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 20%;
    height: 50%;
    border-radius: 50%;
    animation: eruption;
}
@keyframes eruption {
    0%{
        opacity: 0;
        transform: 
            translate(0%, -80%) 
            scale(0);
    }
    60%{
        opacity: 1;
    }
    75%{
        opacity: 1;
        transform: 
            translate(0%, -135%) 
            scale(1.2);
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform: 
            translate(0%, -80%) 
            scale(.2);
    }
}