@use './variables.scss' as *;

html{
    background: #050816;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    color: $text;
    font-family: $font-body;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
header{
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
footer{
    position: fixed;
    z-index: 1;
    bottom: 0px;
    /* height: 50px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img{
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}
a:link,
a:visited,
a:active,
a:hover{
    text-decoration: none;
    color: white;
}
iconify-icon{
    margin: 5px;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
}
#show{
    margin: 0px;
    padding: 5px;
    height: 50px;
    border-radius: 0px 0px 20px 0px;
    >iconify-icon{
        font-size: 25px;
    }
}
button, .btn{
    user-select: none;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: $btnBG;
    transition: all 1s ease;
}
button:hover, .btn:hover{
    cursor: pointer;
    background-color: $btnHoverBG;
    box-shadow:
            0 0 15px $btnShadowColor,
            0 0 30px $btnShadowColor;
}
#destinationsBar{
    background-color: $background;
    backdrop-filter: blur(3px);
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
}
#menu{
    scale: 0;
    margin: 0px;
    padding: 5px 10px 0px 10px;
    height: 50px;
    border-radius: 50% 50% 0px 0px;
}
#destinationPanel{
    z-index: 5;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;right: 0px;
    width: 100%;
    height: 100%;
    scale: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    >#destinationPanelList{
        display: flex;
        flex-direction: column;
        background-color: $background;
        backdrop-filter: blur(3px);
        padding: 30px;
        border-radius: 50px 0px;
        >button{
            margin: 20px;
        }
    }
}
#page{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backdrop-filter: blur(3px);
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: $background;
    scale: 0;
    transition: all 0.5s ease;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20% 0px;
    padding: 20px;
    /* background-color: #0b153e9b; */
    background-color: $cardBG;
    // border: 1px solid $cardBG;
    border-radius: 50px 10px;
    line-height: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
}
@media (max-width: 768px){
    section{
        margin: 30% 0px;
    }
}
section.top{
    border-radius: 100px 20px;
    padding: 30px;
}
section.left {
    align-self: flex-start;
}
section.right {
    align-self: flex-end;
}
@supports (animation-timeline: view()) {/* Scroll-driven animations */
    section {
        scale: 1;
        animation: zoom linear both;
        animation-duration: 1ms;
        animation-timeline: view();
        animation-range: entry 0% cover 100%;
    }
    section.left {
        align-self: flex-start;
        animation: leftTransition linear both,
        zoom linear both;
        animation-duration: 1ms;
        animation-timeline: view();
        animation-range: entry 0% cover 100%;
    }
    section.right {
        align-self: flex-end;
        animation: rightTransition linear both,
        zoom linear both;
        animation-duration: 1ms;
        animation-timeline: view();
        animation-range: entry 0% cover 100%;
    }
    @keyframes zoom {
        0% { scale: 0.25; }
        25% { scale: 1; }
        75% { scale: 1; }
        100% { scale: 0.25; }
    }
    @keyframes leftTransition {
        0% { translate: -200% 0%; }
        30% { translate: 0% 0%; }
        70% { translate: 0% 0%; }
        100% { translate: -200% 0%; }
    }
    @keyframes rightTransition {
        0% { translate: 200% 0%; }
        30% { translate: 0% 0%; }
        70% { translate: 0% 0%; }
        100% { translate: 200% 0%; }
    }
}
h1, h2, h3, h4{user-select: none;}
h1{
    font-family: $font-title;
    padding: 20px;
}
h3{
    font-family: $font-title;
    background-color: $titleBG;
    padding: 10px 20px;
    border: 1px solid $titleBorder;
    border-radius: 50px;
}
h4{
    text-decoration: underline;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
li{
    margin: 5px;
    max-width: 300px;
}
.warn{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: red;
    background: orange;
}

/* largeur de la scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
/* fond de la piste */
::-webkit-scrollbar-track {
    background: #111;
}
/* poignée (thumb) */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}
/* hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}