@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&family=Michroma&display=swap');

// ----- ----- Variables globales ----- -----

$font-title: "Michroma", sans-serif;
$font-body: "Exo 2", sans-serif;

// BACKGROUNDS
$background: rgba(5, 8, 22, 0.3);
// $cardBG: #1f2e6c9b;
$cardBG: rgba(24, 36, 66, 0.55);

// TITLE BACKGROUNDS
$titleBG: rgba(56, 189, 248, 0.08);
$titleBorder: rgba(56, 189, 248, 0.25);

// TEXT
$text: #E5E7EB;

// BUTTONS
$btnBG: #659bff;
$btnHoverBG: #97bafc;
$btnShadowColor: #4d88f7;